openapi: 3.2.0
info:
  title: 한국주식데이터 공개 데이터 Data API
  version: '20260910'
  description: 'KOSPI·KOSDAQ·KONEX 확정 종가(T+1)·DART 공시·실측 분기 실적을 매 거래일 18:10 KST 에 정적 JSON 으로 발행합니다. 인증·API 키 불필요 · 요청 쿼터 없음, CORS 개방. ★시세는 실시간이 아닌 전 영업일 확정 종가입니다. null 은 ''미제공''이며 0 과 다릅니다. 큰 파일은 AI fetch 도구에서 잘릴 수 있으니 150KB 미만 소형판을 우선 쓰세요(안내: index.json 의 fetch_guide). 정보 제공 목적이며 투자 권유가 아닙니다.'
  contact:
    name: 한국주식데이터
    url: https://aikstockdata.com/about
  license:
    name: 공공데이터(DART·금융위) 가공물 — 출처 표기 후 자유 이용(영리 포함)
    url: https://aikstockdata.com/terms
servers:
- url: https://aikstockdata.com
tags:
- name: Data
paths:
  /data/public/dart_receipt_times.json:
    get:
      summary: 공시 접수 시각 캐시
      description: 접수번호별 HH:MM. OpenAPI 가 날짜만 주므로 별도 수집.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicDartReceiptTimesJson
      x-operation-id-source: derived
  /data/public/dart_receipt_times_min.json:
    get:
      summary: 접수 시각 소형판
      description: 위 파일의 경량본.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicDartReceiptTimesMinJson
      x-operation-id-source: derived
  /data/public/disclosures.csv:
    get:
      summary: 공시 목록(CSV)
      description: disclosures.json 과 같은 내용의 CSV 판.
      responses:
        '200':
          description: 성공
          content:
            text/csv:
              schema:
                type: string
                description: CSV 텍스트(첫 줄이 머리글). UTF-8 · 쉼표 구분.
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicDisclosuresCsv
      x-operation-id-source: derived
  /data/public/disclosures_intraday.json:
    get:
      summary: 장중 공시 목록(15:00 수집)
      description: 그날 00:00~15:00 접수 공시. ★접수 시각(HH:MM)이 있어 장중/장후를 구분할 수 있습니다. 18:10 본 발행에서 하루치 전체로 갱신됩니다.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicDisclosuresIntradayJson
      x-operation-id-source: derived
  /data/public/disclosures_intraday_min.json:
    get:
      summary: 장중 공시 소형판
      description: 위 파일의 경량본 — 잘림을 피해야 할 때.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicDisclosuresIntradayMinJson
      x-operation-id-source: derived
  /data/public/earnings_calendar.json:
    get:
      summary: 실적 발표 예정·확정 캘린더
      description: 정기보고서·잠정실적의 접수 예정일과 확정일.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicEarningsCalendarJson
      x-operation-id-source: derived
  /data/public/earnings_calendar_summary.json:
    get:
      summary: 실적 캘린더 요약
      description: 캘린더의 집계본 — 날짜별 건수 중심.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicEarningsCalendarSummaryJson
      x-operation-id-source: derived
  /data/public/market_index_history.json:
    get:
      summary: market_index_history.json
      description: 발행 중인 공개 파일입니다. 설명이 아직 붙지 않았습니다 — 형식은 index.json 의 file_bytes 와 schemas/ 를 참고하세요.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicMarketIndexHistoryJson
      x-operation-id-source: derived
  /data/public/new_since_yesterday.json:
    get:
      summary: 어제 이후 새로 들어온 것
      description: 직전 발행 대비 신규 공시·실적. 증분만 받고 싶을 때.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicNewSinceYesterdayJson
      x-operation-id-source: derived
  /data/public/press_owl_filings.csv:
    get:
      summary: 기자용 — 올빼미 공시 통계(CSV)
      description: 날짜별 DART 접수 건수를 장전·장중·장후·시각미확보로 나눈 표와 장후 비율(%). 범위는 dart_receipt_times.json 과 같다(전건 아님).
      responses:
        '200':
          description: 성공
          content:
            text/csv:
              schema:
                type: string
                description: CSV 텍스트(첫 줄이 머리글). UTF-8 · 쉼표 구분.
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicPressOwlFilingsCsv
      x-operation-id-source: derived
  /data/public/press_turnaround.csv:
    get:
      summary: 기자용 — 흑자전환 표(CSV)
      description: 전년 동기 영업적자 → 당기 흑자(DART 실측) 종목. 기준일 열 내장, 시가총액 내림차순. screen.json 의 is_turnaround 와 같은 판정.
      responses:
        '200':
          description: 성공
          content:
            text/csv:
              schema:
                type: string
                description: CSV 텍스트(첫 줄이 머리글). UTF-8 · 쉼표 구분.
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicPressTurnaroundCsv
      x-operation-id-source: derived
  /data/public/quotes.csv:
    get:
      summary: 전 종목 확정 종가(CSV)
      description: quotes.json 과 같은 내용의 CSV 판.
      responses:
        '200':
          description: 성공
          content:
            text/csv:
              schema:
                type: string
                description: CSV 텍스트(첫 줄이 머리글). UTF-8 · 쉼표 구분.
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicQuotesCsv
      x-operation-id-source: derived
  /data/public/quotes_en.csv:
    get:
      summary: 전 종목 확정 종가(영문 헤더 CSV)
      description: 해외 개발자·코드 생성 AI 용 영문 컬럼명.
      responses:
        '200':
          description: 성공
          content:
            text/csv:
              schema:
                type: string
                description: CSV 텍스트(첫 줄이 머리글). UTF-8 · 쉼표 구분.
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicQuotesEnCsv
      x-operation-id-source: derived
  /data/public/quotes_min.json:
    get:
      summary: quotes_min.json
      description: 발행 중인 공개 파일입니다. 설명이 아직 붙지 않았습니다 — 형식은 index.json 의 file_bytes 와 schemas/ 를 참고하세요.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicQuotesMinJson
      x-operation-id-source: derived
  /data/public/screen.json:
    get:
      summary: 조건 검색용 전 종목 지표
      description: 종목별 시가총액·거래대금·등락률 등 스크리닝 축. 배열 형식.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: https://aikstockdata.com/data/public/schemas/screen.schema.json
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicScreenJson
      x-operation-id-source: derived
  /data/public/screen_top300.json:
    get:
      summary: 조건 검색 소형판(상위 300)
      description: screen.json 과 같은 축, 시가총액 상위 300종목만.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicScreenTop300Json
      x-operation-id-source: derived
  /data/public/search_index.json:
    get:
      summary: 종목 검색 인덱스(전체)
      description: 종목코드·종목명·시장·시가총액. 이름으로 코드를 찾을 때. 큰 파일이므로 search_index_min.json 을 먼저 보세요.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicSearchIndexJson
      x-operation-id-source: derived
  /data/public/search_index_aliases.json:
    get:
      summary: search_index_aliases.json
      description: 발행 중인 공개 파일입니다. 설명이 아직 붙지 않았습니다 — 형식은 index.json 의 file_bytes 와 schemas/ 를 참고하세요.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicSearchIndexAliasesJson
      x-operation-id-source: derived
  /data/public/search_index_rows.json:
    get:
      summary: search_index_rows.json
      description: 발행 중인 공개 파일입니다. 설명이 아직 붙지 않았습니다 — 형식은 index.json 의 file_bytes 와 schemas/ 를 참고하세요.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicSearchIndexRowsJson
      x-operation-id-source: derived
  /data/public/index.json:
    get:
      summary: 전체 카탈로그(여기서 시작)
      description: 파일 목록·크기(file_bytes)·신선도(freshness)·파이프라인 상태·아카이브 날짜.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicIndexJson
      x-operation-id-source: derived
  /data/public/today.json:
    get:
      summary: 오늘의 시장 다이제스트
      description: 등락 폭·주요 공시 TOP3·성장 랭킹·실적 집계 — '오늘 시장 어땠어?'의 정답 파일.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: https://aikstockdata.com/data/public/schemas/today.schema.json
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicTodayJson
      x-operation-id-source: derived
  /data/public/s/{code}.json:
    get:
      summary: 종목 상세(소형 ~5KB)
      description: 확정 종가·시가총액·DART 실측 분기 실적·최근 공시·기계 신호.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: https://aikstockdata.com/data/public/schemas/stock.schema.json
        '404':
          description: 없는 종목코드/날짜
      parameters:
      - name: code
        in: path
        required: true
        description: '종목코드 6자리 (예: 005930=삼성전자). 전체 목록은 search_index_min.json'
        schema:
          type: string
          pattern: ^[0-9A-Z]{6}$
      tags:
      - Data
      operationId: getDataPublicS{code}Json
      x-operation-id-source: derived
  /data/public/s/{code}_history.json:
    get:
      summary: 종목별 1년 일별 시계열(~7KB)
      description: 최대 250거래일 [date, close, volume] 배열. 휴장·무거래일은 행이 없음.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      parameters:
      - name: code
        in: path
        required: true
        description: '종목코드 6자리 (예: 005930=삼성전자). 전체 목록은 search_index_min.json'
        schema:
          type: string
          pattern: ^[0-9A-Z]{6}$
      tags:
      - Data
      operationId: getDataPublicS{code}HistoryJson
      x-operation-id-source: derived
  /data/public/quotes_top300.json:
    get:
      summary: 시가총액 상위 300
      description: 내림차순 정렬 보장 — '시총 상위 N' 질문은 이 파일.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicQuotesTop300Json
      x-operation-id-source: derived
  /data/public/quotes_slim.json:
    get:
      summary: 전 종목 경량 시세
      description: '핵심 6필드. ★파일 크기 약 374KB — AI fetch 도구에서 잘릴 수 있음. 소형판을 우선 사용: quotes_top300.json'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: https://aikstockdata.com/data/public/schemas/quotes_slim.schema.json
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicQuotesSlimJson
      x-operation-id-source: derived
  /data/public/quotes.json:
    get:
      summary: 전 종목 시세 전체판
      description: '확정 종가·거래량·시가총액 전체 필드. ★파일 크기 약 731KB — AI fetch 도구에서 잘릴 수 있음. 소형판을 우선 사용: quotes_slim.json · quotes_top300.json'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicQuotesJson
      x-operation-id-source: derived
  /data/public/disclosures_top100.json:
    get:
      summary: 주요 공시 TOP100(중요도순)
      description: 쉬운 말 풀이·중요도 점수 포함, 재무 원장 제외(~80KB).
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicDisclosuresTop100Json
      x-operation-id-source: derived
  /data/public/disclosures.json:
    get:
      summary: 공시 브리핑 전체
      description: '최근 7일 전 건 + 재무 원장. ★파일 크기 약 245KB — AI fetch 도구에서 잘릴 수 있음. 소형판을 우선 사용: disclosures_top100.json'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: https://aikstockdata.com/data/public/schemas/disclosures.schema.json
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicDisclosuresJson
      x-operation-id-source: derived
  /data/public/rankings.json:
    get:
      summary: 랭킹
      description: 성장 TOP8·조용한 실적주·52주 신고저 — 산식 성분 공개(기계 산정, 추천 아님).
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: https://aikstockdata.com/data/public/schemas/rankings.schema.json
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicRankingsJson
      x-operation-id-source: derived
  /data/public/earnings.json:
    get:
      summary: 어닝 스코어보드
      description: '실적 공시 롤링 120일 — 매출·영업이익·순이익과 전년 대비. ★파일 크기 약 2,936KB — AI fetch 도구에서 잘릴 수 있음. 소형판을 우선 사용: earnings_recent60.json'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: https://aikstockdata.com/data/public/schemas/earnings.schema.json
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicEarningsJson
      x-operation-id-source: derived
  /data/public/earnings_recent60.json:
    get:
      summary: 어닝 스코어보드 소형판(시총 상위 80종목 + 최근 70건 · 압축 재무 포함)
      description: earnings.json 의 잘림 안전 소형판 — 재무 원장(fin)을 빼고 사실 문장과 매출·영업이익 증감률만. 전체는 earnings.json.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicEarningsRecent60Json
      x-operation-id-source: derived
  /data/public/disclosure_impact.json:
    get:
      summary: 공시 유형별 이후 주가 경로
      description: '공시 접수일 종가 대비 1·5·20거래일 뒤 시장조정 수익률(종목 − 소속 시장 지수)의 유형별 중앙값 + 접수번호별 값(종목·유형 포함 — 유형별 재집계 가능). 과거 사실의 사후 집계이며 인과·예측이 아님. ★파일 크기 약 1,745KB — AI fetch 도구에서 잘릴 수 있음. 소형판을 우선 사용: disclosure_impact_summary.json'
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: https://aikstockdata.com/data/public/schemas/disclosure_impact.schema.json
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicDisclosureImpactJson
      x-operation-id-source: derived
  /data/public/disclosure_impact_summary.json:
    get:
      summary: 공시 유형별 이후 주가 경로 소형판
      description: disclosure_impact.json 에서 접수번호별 값(per_event)을 뺀 집계 전용판. 유형별 중앙값만 필요하면 이것을 쓴다.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicDisclosureImpactSummaryJson
      x-operation-id-source: derived
  /data/public/search_index_min.json:
    get:
      summary: 종목 인덱스 경량판(~82KB)
      description: 이름→코드 조회 + URL 조립 패턴(history_url_pattern 포함).
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicSearchIndexMinJson
      x-operation-id-source: derived
  /data/public/daily/today_{date}.json:
    get:
      summary: 날짜별 시장 다이제스트 아카이브
      description: 과거 그날의 today.json(30일 보관).
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      parameters:
      - name: date
        in: path
        required: true
        description: 발행일 YYYYMMDD. 보유 날짜는 index.json 의 daily_archive 참조
        schema:
          type: string
          pattern: ^20[0-9]{6}$
      tags:
      - Data
      operationId: getDataPublicDailyToday{date}Json
      x-operation-id-source: derived
  /data/public/notices.json:
    get:
      summary: 정정·공지 로그
      description: 파이프라인 실패·데이터 정정 이력(기계가독).
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                type: object
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicNoticesJson
      x-operation-id-source: derived
  /data/public/excluded.json:
    get:
      summary: 발행 제외 종목
      description: 수집 제외 종목과 사유.
      responses:
        '200':
          description: 성공
          content:
            application/json:
              schema:
                $ref: https://aikstockdata.com/data/public/schemas/excluded.schema.json
        '404':
          description: 없는 종목코드/날짜
      tags:
      - Data
      operationId: getDataPublicExcludedJson
      x-operation-id-source: derived
