{"openapi": "3.1.0", "info": {"title": "한국주식데이터 공개 데이터 API", "version": "20261002", "description": "KOSPI·KOSDAQ·KONEX 확정 종가(T+1)·DART 공시·정기보고서 누적 실적(잠정 포함)을 매 거래일 18:30 전후(KST)에 정적 JSON 으로 발행합니다. 인증·API 키 불필요 · 요청 쿼터 없음(일반 사용 기준 — 비정상 반복 요청은 CDN 이 제한할 수 있습니다), CORS 개방. ★시세는 실시간이 아닌 전 영업일 확정 종가입니다. null 은 '미제공'이며 0 과 다릅니다. 큰 파일은 AI fetch 도구에서 잘릴 수 있으니 150KB 미만 소형판을 우선 쓰세요(안내: index.json 의 fetch_guide). 같은 데이터를 MCP 로도 부를 수 있습니다 — https://mcp.aikstockdata.com/mcp (무인증 원격 커넥터, 안내는 /ai.html). 정보 제공 목적이며 투자 권유가 아닙니다. ETF 는 원천(금융위 주식시세)이 주지 않아 이 사이트가 싣는 종목에는 없습니다(원천이 다릅니다).", "contact": {"name": "한국주식데이터", "url": "https://aikstockdata.com/about"}, "license": {"name": "aiksd-public-1.1 — 출처 표기 · 비영리 인용·이용 · 상업적 재배포 불허(시세는 공공누리 제4유형도 따름)", "url": "https://aikstockdata.com/licenses/aiksd-public-1.1.txt"}, "x-mcp-endpoint": "https://mcp.aikstockdata.com/mcp"}, "externalDocs": {"description": "AI 연동 안내 · MCP 서버(무인증) · llms.txt", "url": "https://aikstockdata.com/ai"}, "servers": [{"url": "https://aikstockdata.com"}], "components": {"schemas": {"disclosure_impact": {"$ref": "https://aikstockdata.com/data/public/schemas/disclosure_impact.schema.json"}, "disclosures": {"$ref": "https://aikstockdata.com/data/public/schemas/disclosures.schema.json"}, "earnings": {"$ref": "https://aikstockdata.com/data/public/schemas/earnings.schema.json"}, "excluded": {"$ref": "https://aikstockdata.com/data/public/schemas/excluded.schema.json"}, "quotes_slim": {"$ref": "https://aikstockdata.com/data/public/schemas/quotes_slim.schema.json"}, "rankings": {"$ref": "https://aikstockdata.com/data/public/schemas/rankings.schema.json"}, "screen": {"$ref": "https://aikstockdata.com/data/public/schemas/screen.schema.json"}, "stock": {"$ref": "https://aikstockdata.com/data/public/schemas/stock.schema.json"}, "today": {"$ref": "https://aikstockdata.com/data/public/schemas/today.schema.json"}}}, "paths": {"/data/public/dart_receipt_times.json": {"get": {"summary": "공시 접수 시각 캐시", "description": "접수번호별 HH:MM. OpenAPI 가 날짜만 주므로 별도 수집.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/dart_receipt_times_min.json": {"get": {"summary": "접수 시각 소형판", "description": "위 파일의 경량본.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/disclosures.csv": {"get": {"summary": "공시 목록(CSV)", "description": "disclosures.json 과 같은 내용의 CSV 판.", "responses": {"200": {"description": "성공", "content": {"text/csv": {"schema": {"type": "string", "description": "CSV 텍스트(첫 줄이 머리글). UTF-8 · 쉼표 구분."}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/disclosures_intraday.json": {"get": {"summary": "장중 공시 목록(15:00 수집)", "description": "그날 00:00~15:00 접수 공시. ★접수 시각(HH:MM)이 있어 장중/장후를 구분할 수 있습니다. 저녁 본 발행의 disclosures.json 은 분류하는 유형만 담습니다(이 파일에서 label 이 null 인 건은 그리로 이어지지 않습니다).", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/disclosures_intraday_min.json": {"get": {"summary": "장중 공시 소형판", "description": "위 파일의 경량본 — 잘림을 피해야 할 때.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/earnings_calendar.json": {"get": {"summary": "실적 발표 예정·확정 캘린더", "description": "정기보고서·잠정실적의 접수 예정일과 확정일.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/earnings_calendar_summary.json": {"get": {"summary": "실적 캘린더 요약", "description": "캘린더의 집계본 — 날짜별 건수 중심.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/market_index_history.json": {"get": {"summary": "코스피·코스닥 지수 일별 종가", "description": "series.코스피/코스닥.rows = [기준일(YYYYMMDD), 종가] 오름차순. 종목별 시계열(s/{code}_history.json)과 date 로 그대로 조인된다. 공시 반응 집계의 시장조정 기준선과 같은 값.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/mdd.json": {"get": {"summary": "mdd.json", "description": "발행 중인 공개 파일입니다. 설명이 아직 붙지 않았습니다 — 형식은 index.json 의 file_bytes 와 schemas/ 를 참고하세요.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/new_since_yesterday.json": {"get": {"summary": "어제 이후 새로 들어온 것", "description": "직전 발행 대비 신규 공시·실적. 증분만 받고 싶을 때.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/press_owl_filings.csv": {"get": {"summary": "기자용 — 올빼미 공시 통계(CSV)", "description": "날짜별 DART 접수 건수를 장전·장중·장후·시각미확보로 나눈 표와 장후 비율(%). 범위는 dart_receipt_times.json 과 같다(전건 아님).", "responses": {"200": {"description": "성공", "content": {"text/csv": {"schema": {"type": "string", "description": "CSV 텍스트(첫 줄이 머리글). UTF-8 · 쉼표 구분."}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/press_turnaround.csv": {"get": {"summary": "기자용 — 흑자전환 표(CSV)", "description": "전년 동기 영업적자 → 당기 흑자(DART 실측) 종목. 기준일 열 내장, 시가총액 내림차순. screen.json 의 is_turnaround 와 같은 판정.", "responses": {"200": {"description": "성공", "content": {"text/csv": {"schema": {"type": "string", "description": "CSV 텍스트(첫 줄이 머리글). UTF-8 · 쉼표 구분."}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/quotes.csv": {"get": {"summary": "전 종목 확정 종가(CSV)", "description": "quotes.json 과 같은 내용의 CSV 판.", "responses": {"200": {"description": "성공", "content": {"text/csv": {"schema": {"type": "string", "description": "CSV 텍스트(첫 줄이 머리글). UTF-8 · 쉼표 구분."}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/quotes_en.csv": {"get": {"summary": "전 종목 확정 종가(영문 헤더 CSV)", "description": "해외 개발자·코드 생성 AI 용 영문 컬럼명.", "responses": {"200": {"description": "성공", "content": {"text/csv": {"schema": {"type": "string", "description": "CSV 텍스트(첫 줄이 머리글). UTF-8 · 쉼표 구분."}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/quotes_min.json": {"get": {"summary": "전 종목 시세 초경량판", "description": "columns = [c 종목코드, clpr 종가, fltRt 등락률, mrktTotAmt 시가총액]. quotes_slim.json 이 150KB 를 넘을 때의 대체본(거래량·거래대금은 없다).", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/screen.json": {"get": {"summary": "조건 검색용 전 종목 지표", "description": "종목별 시가총액·거래대금·등락률 등 스크리닝 축. 배열 형식.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"$ref": "https://aikstockdata.com/data/public/schemas/screen.schema.json"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/screen_top300.json": {"get": {"summary": "조건 검색 소형판(상위 300)", "description": "screen.json 과 같은 축, 시가총액 상위 300종목만.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/search_index.json": {"get": {"summary": "종목 검색 인덱스(전체)", "description": "종목코드·종목명·시장·한글 별칭(k, 있는 종목만)·종목 JSON/페이지 URL. 이름으로 코드를 찾을 때. 큰 파일이므로 search_index_rows.json(이름·코드·시장)을 먼저 보세요.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/search_index_aliases.json": {"get": {"summary": "종목명 한글 별칭", "description": "영문이 든 종목명을 한글로 읽은 값('네이버'→NAVER)과 줄임말('삼전'→삼성전자). 종목코드 → 별칭 배열. 별칭이 없는 종목은 키가 없다.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/search_index_rows.json": {"get": {"summary": "종목 인덱스 행 배열판", "description": "columns = [c 종목코드, n 종목명, m 시장]. 이름→코드 조회용 — search_index.json·search_index_min.json 의 소형 대체본.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/index.json": {"get": {"summary": "전체 카탈로그(여기서 시작)", "description": "파일 목록·크기(file_bytes)·신선도(freshness)·파이프라인 상태·아카이브 날짜.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/today.json": {"get": {"summary": "오늘의 시장 다이제스트", "description": "등락 폭·주요 공시 TOP3·성장 랭킹·실적 집계 — '오늘 시장 어땠어?'의 정답 파일.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"$ref": "https://aikstockdata.com/data/public/schemas/today.schema.json"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/s/{code}.json": {"get": {"summary": "종목 상세(소형 — 한 종목 수 KB)", "description": "확정 종가·시가총액·DART 최근 정기보고서 누적 실적(단독 분기 아님)·PER(TTM)·PBR·최근 공시·기계 신호.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"$ref": "https://aikstockdata.com/data/public/schemas/stock.schema.json"}}}}, "404": {"description": "없는 종목코드/날짜"}}, "parameters": [{"name": "code", "in": "path", "required": true, "description": "종목코드 6자리 (예: 005930=삼성전자). 전체 목록은 search_index_rows.json", "schema": {"type": "string", "pattern": "^[0-9A-Z]{6}$"}}]}}, "/data/public/s/{code}_history.json": {"get": {"summary": "종목별 일별 시계열(매 거래일 한 행씩 적립 — 자르지 않음)", "description": "[date, close, volume] 배열. 행 수는 파일 안 count, 보존 정책은 retention. 휴장·무거래일은 행이 없음. 수정주가가 아님 — 액면분할·병합 날은 breaks, 고저·낙폭·등락률은 마지막 breaks 날부터.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}, "parameters": [{"name": "code", "in": "path", "required": true, "description": "종목코드 6자리 (예: 005930=삼성전자). 전체 목록은 search_index_rows.json", "schema": {"type": "string", "pattern": "^[0-9A-Z]{6}$"}}]}}, "/data/public/quotes_top300.json": {"get": {"summary": "시가총액 상위 300", "description": "내림차순 정렬 보장 — '시총 상위 N' 질문은 이 파일.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/quotes_slim.json": {"get": {"summary": "전 종목 경량 시세", "description": "핵심 6필드. ★파일 크기 약 374KB — AI fetch 도구에서 잘릴 수 있음. 소형판을 우선 사용: quotes_min.json(전 종목 — 코드·종가·등락률·시총)", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"$ref": "https://aikstockdata.com/data/public/schemas/quotes_slim.schema.json"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/quotes.json": {"get": {"summary": "전 종목 시세 전체판", "description": "확정 종가·거래량·시가총액 전체 필드. ★파일 크기 약 730KB — AI fetch 도구에서 잘릴 수 있음. 소형판을 우선 사용: quotes_top300.json(시총 상위 300) · quotes_min.json(전 종목 4필드)", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/disclosures_top100.json": {"get": {"summary": "주요 공시 TOP100(중요도순)", "description": "쉬운 말 풀이·중요도 점수 포함, 재무 원장 제외(74KB).", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/disclosures.json": {"get": {"summary": "공시 브리핑 전체", "description": "최근 7일 · 우리가 분류하는 유형(label)의 공시 + 재무 원장. ★파일 크기 약 1,178KB — AI fetch 도구에서 잘릴 수 있음. 소형판을 우선 사용: disclosures_top100.json", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"$ref": "https://aikstockdata.com/data/public/schemas/disclosures.schema.json"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/rankings.json": {"get": {"summary": "랭킹", "description": "성장 TOP8·조용한 실적주·52주 신고저 — 산식 성분 공개(기계 산정, 추천 아님).", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"$ref": "https://aikstockdata.com/data/public/schemas/rankings.schema.json"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/earnings.json": {"get": {"summary": "어닝 스코어보드", "description": "실적 공시 롤링 120일 — 매출·영업이익·순이익과 전년 대비. ★파일 크기 약 3,206KB — AI fetch 도구에서 잘릴 수 있음. 소형판을 우선 사용: earnings_recent60.json", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"$ref": "https://aikstockdata.com/data/public/schemas/earnings.schema.json"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/earnings_recent60.json": {"get": {"summary": "어닝 스코어보드 소형판(시총 상위 80종목 + 최근 70건 · 압축 재무 포함)", "description": "earnings.json 의 잘림 안전 소형판 — 재무 원장(fin)을 빼고 사실 문장과 매출·영업이익 증감률만. 전체는 earnings.json.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/disclosure_impact.json": {"get": {"summary": "공시 유형별 이후 주가 경로", "description": "공시 접수일 종가 대비 1·5·20거래일 뒤 시장조정 수익률(종목 − 소속 시장 지수)의 유형별 중앙값 + 접수번호별 값(종목·유형 포함 — 유형별 재집계 가능). 과거 사실의 사후 집계이며 인과·예측이 아님. ★파일 크기 약 2,092KB — AI fetch 도구에서 잘릴 수 있음. 소형판을 우선 사용: disclosure_impact_summary.json", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"$ref": "https://aikstockdata.com/data/public/schemas/disclosure_impact.schema.json"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/disclosure_impact_summary.json": {"get": {"summary": "공시 유형별 이후 주가 경로 소형판", "description": "disclosure_impact.json 에서 접수번호별 값(per_event)을 뺀 집계 전용판. 유형별 중앙값만 필요하면 이것을 쓴다.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/search_index_min.json": {"get": {"summary": "종목 인덱스 경량판(164KB)", "description": "이름→코드 조회 + URL 조립 패턴(history_url_pattern 포함). 150KB 를 넘으면 search_index_rows.json(이름·코드·시장)을 쓴다.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/daily/today_{date}.json": {"get": {"summary": "날짜별 시장 다이제스트 아카이브", "description": "과거 그날의 today.json(30일 보관).", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}, "parameters": [{"name": "date", "in": "path", "required": true, "description": "발행일 YYYYMMDD. 보유 날짜는 index.json 의 daily_archive 참조", "schema": {"type": "string", "pattern": "^20[0-9]{6}$"}}]}}, "/data/public/notices.json": {"get": {"summary": "정정·공지 로그", "description": "파이프라인 실패·데이터 정정 이력(기계가독).", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/pipeline_status.json": {"get": {"summary": "발행 실행 마지막 상태", "description": "마지막 발행 실행의 성패·멈춘 단계·되돌림 결과. 실패한 날에도 직전 발행본 위에 이 파일만 갱신된다 — 사이트가 어제 것인 이유를 여기서 읽는다.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"type": "object"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}, "/data/public/excluded.json": {"get": {"summary": "발행 제외 종목", "description": "수집 제외 종목과 사유.", "responses": {"200": {"description": "성공", "content": {"application/json": {"schema": {"$ref": "https://aikstockdata.com/data/public/schemas/excluded.schema.json"}}}}, "404": {"description": "없는 종목코드/날짜"}}}}}}